{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "env": {
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true,
            "modules": false,
            "targets": {
              "esmodules": true
            }
          }
        ]
      ]
    }
  }
}
